<div class="project-modal">
    <div class="form-horizontal">
        <fieldset>

            <legend>New Project</legend>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Project Name:</label>  
                <div class="col-md-8">
                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="Home.new.name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="checklist_type">Select department:</label>
                <div class="col-md-8">
                    <select id="checklist_type" name="checklist_type" class="form-control" ng-model="Home.new.type">
                        <option ng-repeat="item in Home.projectTypes" value="{{ item }}">{{ item }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-8">
                    <button class="btn btn-success pull-right" ng-click="Home.createNew(Home.new)">OK</button>
                    <button class="btn btn-danger" ng-click="Home.new = {}">Cancel</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>